# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend (Email)
RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=

# Shopify
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_SCOPES=read_customers,write_customers,read_orders,write_orders,read_products,read_checkouts,write_checkouts

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Unlayer (Email Editor)
NEXT_PUBLIC_UNLAYER_PROJECT_ID=

# WhatsApp Cloud API
WA_PHONE_NUMBER_ID=
WA_BUSINESS_ACCOUNT_ID=
CLOUD_API_ACCESS_TOKEN=
WA_WEBHOOK_VERIFY_TOKEN=convertfy_secret
